@font-face{
    font-family: "Yeseva One";
    src: url('../fonts/YesevaOne-Regular_v2.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Gentium-Basic";
    src: url('../fonts/GenBasR.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Lato-Regular";
    src: url('../fonts/Lato-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Gentium-Basic-Bold";
    src: url('../fonts/GenBkBasB.ttf');
    font-weight: 800;
    font-style: normal;
    color: white;
}

@font-face{
    font-family: "Open-Sans";
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Open-Sans-Bold";
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: 800;
    font-style: normal;
}

body {
    margin: 0;
}

.wrapper {
    width: 1600px;
    margin: 0 auto;
}

header {
    width: inherit;
    height: 159px;
    position: absolute;
    z-index: 300;
    padding: 6px 0 0 0;
    background: transparent;
    /*background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(0, 0, 05, 0.1)));
    background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -o-linear-gradient(top, rgba(255, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);*/
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.logo a {
    padding: 41px 0 0 179px;
    float: left;
    font-family: "Yeseva One";
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    z-index: 287;
    filter: invert(100%);
}

.top-menu {
    margin-left: 150px;
    font-family: "Gentium Book Basic";
    font-weight: bold;
    font-size: 21px;
    padding: 22px 0 0 384px;
}

.top-menu li {
    float: left;
    text-decoration: none;
    margin-right: 51px;
    list-style-type: none;
}

.top-menu a {
    text-decoration: none;
    color: #fff;
}

.socialIcon {
    margin-left: -31px;
}

.block0 {
    position: relative;
    box-sizing: border-box;
    height: 750px;
    background: url(../images/Bg.png) no-repeat;
    text-align: center;
    z-index: 99;
}

.block0 h1 {
    font-size: 90px;
    font-family: "Yeseva One";
    font-weight: 100;
    color: rgba(255, 255, 255, 0.92);
    line-height: 1.3;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(1, 1, 1, 0.64);
    width: 959px;
    height: 210px;
    z-index: 277;
    position: relative;
    padding: 215px 0 0 321px;
    margin: 0 0;
}

.decor {
    position: relative;
    margin: 49px 0 0 6px;
}

.btnBook {
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    font-family: "Lato";
    box-sizing: border-box;
    text-align: center;
    border: 1px solid black;
    outline: none;
    padding: .5em 2em;
    width: 228px;
    height: 57px;
    background: rgba(0, 0, 0, 0.55);
    margin: 30px 0 0 -1px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.btnShow {
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    font-family: "Lato";
    text-align: center;
    box-sizing: border-box;
    border: 1px solid white;
    outline: none;
    padding: .5em 2em;
    width: 228px;
    height: 57px;
    background: rgba(255, 255, 255, 0.2);
    margin: 30px 0 0 27px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.text {
    font-size: 18px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 825.102px;
    top: 571.551px;
    width: 125px;
    height: 13px;
    z-index: 267;
}


.btnBook:hover {
    background: rgba(0, 0, 0, 0.75)
}

.btnShow:hover {
    background: rgba(255, 255, 255, 0.5)
}

.block1 {
    position: relative;
    background-image: url("../images/background_1.png");
    height: 710px;
    z-index: 239;
}

.block1 .left {
    position: relative;
    margin: 0 0 0 0;
    float: left;
}

.block1 .left h3 {
    position: relative;
    font-family: "Yeseva One";
    color: rgb(204, 153, 0);
    font-size: 36px;
    font-weight: 100;
    padding: 99px 0 0 327px;
    margin: 0;
}

.block1 .decorDivider {
    position: relative;
    padding: 15px 0 0 375px;
    margin: 0;
    float: left;
}

.block1 .left p {
    font-size: 16px;
    font-family: "Lato";
    padding: 26px 0 0 297px;
    color: rgb(76, 76, 76);
    line-height: 1.5;
    text-align: center;
    position: relative;
    width: 412px;
    height: 119px;
    z-index: 244;
    overflow:  hidden;
}

.block1 .left .rightFood {
    position: absolute;
    font-family: "Yeseva One";
    padding: 34px 0 0 425px;
}

.block1 img {
    position: relative;
    font-family: "Yeseva One";
    padding: 55px 240px 0 24px;
    margin: 0;
    float: right;
}

.block2 {
    color: white;
    position: relative;
    background-image: url("../images/bgIngredients.png");
    height: 758px;
}

.block2 .right {
    position: absolute;
    width: 570px;
    height: 557px;
    background-image: url("../images/bg_fineIngredients.png");
    margin: 100px 217px 101px 815px;
}

.block2 .right h3 {
    position: relative;
    font-family: "Yeseva One";
    font-size: 36px;
    font-weight: 100;
    padding: 76px 0 0 73px;
    margin: 0 63px;
}

.block2 .decorDivider {
    position: relative;
    padding: 15px 0 0 162px;
    margin: 0;
}

.block2 .right p {
    position: relative;
    padding: 4px 0 0 81px;
    font-size: 16px;
    font-family: "Lato";
    line-height: 1.5;
    text-align: center;
    width: 413px;
    height: 117px;
    z-index: 228;
    overflow: hidden;
}

.block2 .right .smallImgPlate {
    padding: 55px 0 0px 90px;
    font-family: "Yeseva One";
}

.block2 .right .smallImage {
    margin: 0 26px 0 0;
    font-family: "Yeseva One";
    border-radius: 50%;
}

.block3 {
    position: relative;
    background-image: url("../images/background_3.png");
    height: 894px;
    padding: 100px 0 0 283px;
}

.dish {
    margin: 0px 0px 10px 0px;
}

.dishType {
    position: relative;
    font-family: "Yeseva One";
    font-weight: 100;
    width: 432px;
    margin: 0px 168px 0 0px;
}

.dishType h3 {
    text-align: center;
    font-family: "Yeseva One";
    color: rgb(204, 153, 0);
    font-size: 36px;
    font-weight: 100;
    margin: 0px 0 0 0px;
}

.line {
    position: relative;
    font-family: "Yeseva One";
    margin: 0px 0 0 0;
}

.dishType h4 {
    position: relative;
    font-family: "Yeseva One";
    color: rgb(204, 153, 0);
    font-size: 21px;
    font-weight: 100;
    margin: 26px 0 0 0;
}

.dishType .decorDivider {
    position: relative;
    margin: 12px 0 0 92px;
}

.dishType p {
    position: relative;
    font-family: "Yeseva One";
    font-size: 13px;
    width: 400px;
    margin: 4px 0 0 0;
}

.appetisers {
    float: left;
}

.salads {
    float: left;
    margin: 54px 169px 0 0px;
}

.clear {
    clear: left;
}

.starters {
    float: left;
}

.mainDishes {
    float: left;
    margin: -45px 0 0 0;
}

.description {
}

.name {
    float: left;
    margin: 0 0 0 -131px;
}

.cost {
    float: right;
}

.block4 {
    position: relative;
    background-image: url("../images/bg_reviews.png");
    height: 758px;
}

.block4 .review {
    position: absolute;
    width: 770px;
    height: 557px;
    background-image: url("../images/bg_q.png");
    margin: 100px 436px 101px 415px;
}

.block4 .review h3 {
    position: relative;
    font-family: "Yeseva One";
    font-size: 36px;
    font-weight: 100;
    padding: 75px 0 0 254px;
    margin: 0;
    color: white;
}

.block4 .decorDivider {
    position: relative;
    padding: 17px 0 0 263px;
    margin: 0;
}

.block4 .review blockquote {
    position: relative;
    font-family: "Gentium Book Basic";
    font-weight: bold;
    font-size: 25px;
    color: rgb(221, 224, 223);
    line-height: 1.8;
    padding: 13px 0 0 68px;
    width: 630px;
    height: 340px;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

.block4 .inc{
    font-family: "Lato-Regular";
    font-size: 18px;
    color: white;
    font-weight: 300;
    padding-top: 10px;
}

.block5 {
    position: relative;
    background-image: url("../images/background_5.png");
    height: 710px;
}

.block5 .images {
    float: left;
    margin: 100px 0 99px 215px;
}

.block5 .subscribe h3 {
    position: inherit;
    font-family: "Yeseva One";
    color: rgb(204, 153, 0);
    font-size: 36px;
    text-align: center;
    font-weight: 100;
    padding: 99px 0 0 0px;
    margin: 0px 0 0 0px;
}

.block5 .subscribe .decorDivider {
    position: relative;
    padding: 15px 0 0 287px;
    margin: 0;
    float: left;
}

.block5 .subscribe .info {
    font-size: 16px;
    font-family: "Lato";
    padding: 26px 0 0 218px;
    color: rgb(76, 76, 76);
    line-height: 1.5;
    text-align: center;
    position: relative;
    width: 412px;
    height: 119px;
    z-index: 244;
    overflow:  hidden;
}

.block5 .subscribe .reservationPlaceForm {
    font-size: 16px;
    font-family: "Lato";
    padding: 26px 0 0 218px;
    color: rgb(76, 76, 76);
    line-height: 1.5;
    text-align: center;
    position: relative;
    width: 564px;
    height: 176px;
    z-index: 244;
    overflow: hidden;
}

.block5 .input {
    border-width: 1px;
    border-color: rgb(200, 159, 45);
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.4);
    width: 198px;
    height: 34px;
    z-index: 58;
}

.block5 .name {
    float:left;
    margin: 0 0 0 -175px;
}

.block5 .form_date {
    margin: 0 0 0 -177px;
    width: 258px;
}

.block5 .form_party_number {
    width: 300px;
    margin: 0 0 0 138px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url('../images/calendar.png') center/70% no-repeat;
    color: rgba(0, 0, 0, 0);
    opacity: 1;
}

footer {
    width: 1600px;
    margin: 0 auto;
    height: 340px;
    background-color:black;
    color:white;
}

footer h1{
    font-family: "Yeseva One";
    font-size: 21px;
    font-weight: 500;
}
footer h3{
    font-family: "Open-Sans";
    font-size: 16px;
    font-weight: 300;
}

footer .icon {
    margin: 34px 0 0 6px;
}

.container {
    text-align:center;
    background-color:black;
}

.us{
    width:350px;
    float:left;
    background-color:black;
    margin: 40px 0 0 226px;
    text-align: center;
}

.hours{
    width:250px;
    float:left;
    margin: 41px 0 0 100px;
    text-align: center;
}

.location{
    float:left;
    width:350px;
    text-align: center;
    margin: 41px 0 0 100px;
}
